<div ng-init="getStudent()">
	<input type="text" name="name" ng-model="search.$" placeholder="search record" />
	<div>
		<table class="table table-responsive">
		    <thead>
				<th>Student ID</th>
		        <th>Student Name</th>
		        <th>Branch</th>
		        <th>Roll Number</th>
		        <th>Email</th>
		        <th>Capacity</th>
		        <th>Issued</th>
		    </thead>
		    <tbody ng-repeat="s in TotalStudents| filter:search track by $index">
		      <tr>
		        <td>{{s.student_id}}</td>
		        <td>{{s.name}}</td>
		        <td>{{s.branch}}</td>
		        <td>{{s.rollnumber}}</td>
		        <td>{{s.email}}</td>
		        <td>{{s.capacity}}</td>
		        <td>{{s.issued}}</td>
		      </tr>
		    </tbody>
  		</table>
	</div>
</div>